// @views
// Filters
//
// sites/all/themes/%/scss/modules/modules/views/_filters.scss
// -----------------------------------------------------------------------------

// Reset
.views-exposed-form .views-submit-button, .views-exposed-form .views-reset-button {
  margin-top: 0; // Radix
}

.view-filters {
}

.view-filters .views-exposed-form .views-exposed-widget {
  padding: 1em 1em 0 0;

  @include when-rtl() {
    padding: 1em 0 0 1em;
  }

  margin-bottom: 15px;
}

// Forms
.views-exposed-form {

  .form-group {
    padding: 0;
  }

  .views-widget {
    .form-item-sort-bef-combine {
      > label {
        display: none;
      }
    }
  }

  .container-inline-date > .form-item,
  .container-inline-date .form-item input,
  .container-inline-date .form-item select,
  .container-inline-date .form-item option {
    margin-right: 0;
    margin-left: 0;
  }

  .views-exposed-widget {

    // Reset stuff.
    .views-reset-button, .views-reset-button, .views-submit-button {
      margin-top: 0;
    }

    .form-submit {
      margin-top: 0;
    }

    .form-group {
      padding-top: 0;
      padding-bottom: 0;
    }

    &:first-child .form-group {
      padding-left: 0;
    }

    // Apply button.
    &.views-submit-button .form-submit {
      @extend %btn-primary--reversed;
    }

    // Reset button
    &.views-reset-button .form-submit {
      @extend %btn-primary;
    }

    &.views-widget-filter-date_filter_field_vactory_date {
      label {
        @extend %sr-only;
      }

      .form-item.form-type-textfield {
        position: relative;

        &::after {
          @extend %icon;
          content: $icon-calendar;
          display: inline-block;
          font-size: 15px;
          position: absolute;
          top: 50%;
          right: 13px;
          transform: translateY(-50%);

          @include when-rtl() {
            left: 13px;
            right: auto;
          }
        }
      }
    }
  }
}

// Mobile.
.view .view-filters {
  @include breakpoint(xs) {
    display: none;
  }
}

.fancybox-slide .view-filters {
  width: 85%;
}

.fancybox-slide .view-filters .views-exposed-form .views-exposed-widget {
  margin-bottom: 0;
}

.filter-gear-icon {
  font-size: 20px;
}

.views-exposed-form .views-exposed-widget:not(.views-submit-button):not(.views-reset-button) {
  @include breakpoint(xs) {
    padding-right: 0;
    padding-left: 0;
  }
}

.container-inline-date .form-item,
.container-inline-date .form-item input {
  @include breakpoint(xs) {
    width: 100%;
  }
}

// Oragnise buttons.
.views-exposed-widget:not(.views-submit-button):not(.views-reset-button) {
  @include breakpoint(xs) {
    float: none;
  }
}

.btn-control-panel {
  margin-bottom: 20px;
}
