// Footer
// -----------------------------------------------------------------------------
//footer .vf-footer-variant2 {
//  .vf-footer {
//    padding-top: 30px;
//
//    &__top,
//    &__bottom {
//      background-color: #ffffff;
//    }
//
//    &__layout {
//      justify-content: center;
//
//      @include breakpoint(xs) {
//        display: block;
//      }
//    }
//
//    &__top {
//      border-top: solid 1px $gray-lighter;
//      padding-top: 20px;
//
//      .nav > li {
//        margin-right: 30px;
//
//        @include when-rtl() {
//          margin-right: 0;
//          margin-left: 30px;
//        }
//
//        &:last-child {
//          margin-right: 0;
//
//          @include when-rtl() {
//            margin-left: 0;
//          }
//        }
//
//      }
//
//      .nav > li > a {
//        @extend %btn, %btn-primary;
//      }
//    }
//
//    &__bottom {
//
//      .vf-footer__layout {
//        padding-top: 0;
//      }
//
//      .nav > li > a {
//        font-size: $font-size-small;
//        text-align: center;
//        color: #000;
//
//        &:hover {
//          color: $link-hover-color;
//        }
//      }
//    }
//  }
//}
//
//footer .vf-footer-variant2 .block-menu > .block__content > .menu-wrapper > .menu {
//  @include breakpoint(xs) {
//    flex-direction: row;
//    align-items: center;
//    justify-content: center;
//  }
//}
//
//footer .vf-footer-variant2 .vf-footer__bottom .block-menu > .block__content > .menu-wrapper > .menu {
//  flex-direction: row;
//}
