// @mixin
// Utilities
//
// sites/all/themes/%/scss/mixins/_utilities.scss
// -----------------------------------------------------------------------------

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}