// @component
// sites/all/modules/custom/vactory_footer/scss/_variant3.scss
// Footer
// -----------------------------------------------------------------------------

/* === VARIABLES === */
$v_module_footer__path: "../../../../modules/custom/vactory_footer/";

$vf3-links-color: #666 !default;
$vf3-links-color-alt: #484848 !default;
$vf3-links-heading-color-alt: #333 !default;
$vf3-bottom-bg-color: #f7f7f7 !default;
$vf3-bottom-border-color: #f3f3f3 !default;
$vf3-mobile-accordion-border-color: #dedede !default;

// debug

/* === COMPONENT === */
.vf-footer-variant3 {
  padding-top: 35px;
  border-top: solid 1px rgba(207, 207, 207, 0.2);

  .bt_equal_height {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(xs) {
      flex-direction: column;
    }
  }

  .dotted {
    background-image: url(#{$v_module_footer__path}/images/v-dotted-line.png);
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 2px auto;

    @include breakpoint(xs) {
      background: none;
    }

    @include rtl() {
      background-position: 100% 0;
    }
  }

  .nav > li > a {
    color: $vf3-links-color;
    transition: color .3s ease;
    padding: 6px 10px;
    font-size: 14px;

    @include breakpoint(xs) {
      padding: 6px 0;
    }

    &:hover,
    &:focus {
      color: $vf3-links-color-alt;
      background: none;
      text-decoration: none;
    }
  }

  .last-col .nav > li.last > a,
  .nav .nav > li a {
    border-bottom: none;
  }

  .nav > li {

    > a {
      @include breakpoint(xs) {
        padding: 10px 0;
        border-bottom: $vf3-mobile-accordion-border-color solid 1px;
      }
    }

    &.heading {
      margin-bottom: 15px;

      @include breakpoint(xs) {
        margin-bottom: 0;
      }

      > a {
        color: $vf3-links-heading-color-alt;
        text-transform: uppercase;
        position: relative;

        .caret {
          display: none;
        }
      }

      .menu-wrapper {
        @include breakpoint(xs) {
          display: none;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }

      &.expanded > a::before {
        @extend %icon;
        content: $icon-chevron-right-flat;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
        display: none;
        transition: transform .3s ease;

        @include rtl() {
          content: $icon-chevron-left-flat;
          right: auto;
          left: 15px;
        }

        @include breakpoint(xs) {
          display: inline-block;
        }
      }

      &.expanded > a.open::before {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }

  .vf-footer--bottom {
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 35px;
    background: $vf3-bottom-bg-color;
    border-top: 1px solid $vf3-bottom-border-color;

    @include breakpoint(xs) {
      margin-top: 0;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
      text-decoration: underline;
    }

    .menu-wrapper {
      > .menu {
        display: flex;
        flex-wrap: wrap;

        &::before,
        &::after {
          display: none;
        }

        > li {
          margin: 5px;

          a {
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
}
