@CHARSET "ISO-8859-1";

.dialog-video input,
.dialog-video select, 
.dialog-video textarea,
.settings_wrapper select,
.settings_wrapper input,
.settings_wrapper textarea{
	border:1px solid #B4B4B4;
}

.settings_wrapper select option{
	padding:2px;
}

.settings_wrapper table{
	border:none;
	margin:0px;
	font-size:1em;
}

.settings_wrapper table th{
	background:none;
	border:none;
	text-transform:none;
	vertical-align:top;
}

.settings_wrapper label{
	cursor:pointer;
	font-weight:normal;
}

.settings_wrapper table td{
	border:none !important;
}

.unite_table_items tr th{
	background-color:#EEEEEE;
}


.dialog-video .input-url{
	width: 250px !important;
}

.dialog-video .input-url-long{
	width: 408px !important;
}

.dialog-video .input-title{
	width: 350px !important;
}

.dialog-video .input-description{
	width:350px !important;
	height:60px !important;
}

#dv_link_change_image{
	margin-left:110px;
}

#dv_link_change_thumb{
	margin-left:117px;
}

#dv_link_example_mp4{
	margin-left:225px;	
}

#dv_link_example_webm{
	margin-left:213px;	
}

#dv_link_example_ogv{
	margin-left:227px;	
}

#dv_button_video_add {
    left: 309px;
    position: absolute;
    top: 425px;
}

.list_items li .item_title{
	height:17px;
}

