@import "variables";

@font-face {
  font-family: 'vactory';
  src: url('#{$icomoon-font-path}/vactory.ttf?th32dl') format('truetype'),
  url('#{$icomoon-font-path}/vactory.woff?th32dl') format('woff'),
  url('#{$icomoon-font-path}/vactory.svg?th32dl#vactory') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], %icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vactory' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: $icon-vactory-font-size;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud_download {
  &:before {
    content: $icon-cloud_download;
  }
}
.icon-arrow_back {
  &:before {
    content: $icon-arrow_back;
  }
}
.icon-arrow_forward {
  &:before {
    content: $icon-arrow_forward;
  }
}
.icon-quote-right {
  &:before {
    content: $icon-quote-right;
  }
}
.icon-quote-left {
  &:before {
    content: $icon-quote-left;
  }
}
.icon-download_link {
  &:before {
    content: $icon-download_link;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-forum {
  &:before {
    content: $icon-forum;
  }
}
.icon-paper-clip {
  &:before {
    content: $icon-paper-clip;
  }
}
.icon-video-camera {
  &:before {
    content: $icon-video-camera;
  }
}
.icon-photo-camera {
  &:before {
    content: $icon-photo-camera;
  }
}
.icon-file-archive-o {
  &:before {
    content: $icon-file-archive-o;
  }
}
.icon-file-audio-o {
  &:before {
    content: $icon-file-audio-o;
  }
}
.icon-file-code-o {
  &:before {
    content: $icon-file-code-o;
  }
}
.icon-file-excel-o {
  &:before {
    content: $icon-file-excel-o;
  }
}
.icon-file-image-o {
  &:before {
    content: $icon-file-image-o;
  }
}
.icon-file-movie-o {
  &:before {
    content: $icon-file-movie-o;
  }
}
.icon-file-o {
  &:before {
    content: $icon-file-o;
  }
}
.icon-file-pdf-o {
  &:before {
    content: $icon-file-pdf-o;
  }
}
.icon-file-photo-o {
  &:before {
    content: $icon-file-photo-o;
  }
}
.icon-file-picture-o {
  &:before {
    content: $icon-file-picture-o;
  }
}
.icon-file-powerpoint-o {
  &:before {
    content: $icon-file-powerpoint-o;
  }
}
.icon-file-sound-o {
  &:before {
    content: $icon-file-sound-o;
  }
}
.icon-file-text-o {
  &:before {
    content: $icon-file-text-o;
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text;
  }
}
.icon-file-video-o {
  &:before {
    content: $icon-file-video-o;
  }
}
.icon-file-word-o {
  &:before {
    content: $icon-file-word-o;
  }
}
.icon-file-zip-o {
  &:before {
    content: $icon-file-zip-o;
  }
}
.icon-file {
  &:before {
    content: $icon-file;
  }
}
.icon-files-o {
  &:before {
    content: $icon-files-o;
  }
}
.icon-caret-down {
  &:before {
    content: $icon-caret-down;
  }
}
.icon-caret-left {
  &:before {
    content: $icon-caret-left;
  }
}
.icon-caret-right {
  &:before {
    content: $icon-caret-right;
  }
}
.icon-caret-up {
  &:before {
    content: $icon-caret-up;
  }
}
.icon-control-panel {
  &:before {
    content: $icon-control-panel;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-envelope-o {
  &:before {
    content: $icon-envelope-o;
  }
}
.icon-envelope {
  &:before {
    content: $icon-envelope;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-picture-o {
  &:before {
    content: $icon-picture-o;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-close-circle-flat {
  &:before {
    content: $icon-close-circle-flat;
  }
}
.icon-close-flat {
  &:before {
    content: $icon-close-flat;
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle;
  }
}
.icon-close-spaced {
  &:before {
    content: $icon-close-spaced;
  }
}
.icon-close-spaced-flat {
  &:before {
    content: $icon-close-spaced-flat;
  }
}
.icon-chevron-right-flat {
  &:before {
    content: $icon-chevron-right-flat;
  }
}
.icon-chevron-left-flat {
  &:before {
    content: $icon-chevron-left-flat;
  }
}
.icon-chevron-right-flat--circle {
  &:before {
    content: $icon-chevron-right-flat--circle;
  }
}
.icon-chevron-left-flat--circle {
  &:before {
    content: $icon-chevron-left-flat--circle;
  }
}
.icon-arrow-right-flat--circle {
  &:before {
    content: $icon-arrow-right-flat--circle;
  }
}
.icon-arrow-left-flat--circle {
  &:before {
    content: $icon-arrow-left-flat--circle;
  }
}
.icon-arrow-right-flat {
  &:before {
    content: $icon-arrow-right-flat;
  }
}
.icon-arrow-left-flat {
  &:before {
    content: $icon-arrow-left-flat;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right-circle {
  &:before {
    content: $icon-chevron-right-circle;
  }
}
.icon-arrow-preview {
  &:before {
    content: $icon-arrow-preview;
  }
}
.icon-arrow-right--circle {
  &:before {
    content: $icon-arrow-right--circle;
  }
}
.icon-arrow-left--circle {
  &:before {
    content: $icon-arrow-left--circle;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-search-bolder {
  &:before {
    content: $icon-search-bolder;
  }
}
.icon-search-bold {
  &:before {
    content: $icon-search-bold;
  }
}
.icon-search-spaced {
  &:before {
    content: $icon-search-spaced;
  }
}
.icon-search-light-spaced {
  &:before {
    content: $icon-search-light-spaced;
  }
}
.icon-search-lightest {
  &:before {
    content: $icon-search-lightest;
  }
}
.icon-behance {
  &:before {
    content: $icon-behance;
  }
}
.icon-blogger {
  &:before {
    content: $icon-blogger;
  }
}
.icon-dailymotion {
  &:before {
    content: $icon-dailymotion;
  }
}
.icon-dribbble {
  &:before {
    content: $icon-dribbble;
  }
}
.icon-drive {
  &:before {
    content: $icon-drive;
  }
}
.icon-dropbox {
  &:before {
    content: $icon-dropbox;
  }
}
.icon-drupal {
  &:before {
    content: $icon-drupal;
  }
}
.icon-evernote {
  &:before {
    content: $icon-evernote;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-github {
  &:before {
    content: $icon-github;
  }
}
.icon-googleplus {
  &:before {
    content: $icon-googleplus;
  }
}
.icon-hangouts {
  &:before {
    content: $icon-hangouts;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-messenger {
  &:before {
    content: $icon-messenger;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-pocket {
  &:before {
    content: $icon-pocket;
  }
}
.icon-rss {
  &:before {
    content: $icon-rss;
  }
}
.icon-snapchat {
  &:before {
    content: $icon-snapchat;
  }
}
.icon-souncloud {
  &:before {
    content: $icon-souncloud;
  }
}
.icon-spotify {
  &:before {
    content: $icon-spotify;
  }
}
.icon-tumblr {
  &:before {
    content: $icon-tumblr;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-vimeo {
  &:before {
    content: $icon-vimeo;
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-burger-menu-bolder {
  &:before {
    content: $icon-burger-menu-bolder;
  }
}
.icon-burger-menu {
  &:before {
    content: $icon-burger-menu;
  }
}
.icon-burger-menu-middle {
  &:before {
    content: $icon-burger-menu-middle;
  }
}
.icon-burger-menu-stairs {
  &:before {
    content: $icon-burger-menu-stairs;
  }
}
.icon-burger-menu-narrow {
  &:before {
    content: $icon-burger-menu-narrow;
  }
}
.icon-burger-menu-narrow-middle {
  &:before {
    content: $icon-burger-menu-narrow-middle;
  }
}
.icon-burger-menu-narrow-stairs {
  &:before {
    content: $icon-burger-menu-narrow-stairs;
  }
}
.icon-burger-menu-narrow-bold-flat {
  &:before {
    content: $icon-burger-menu-narrow-bold-flat;
  }
}
.icon-burger-menu-thin {
  &:before {
    content: $icon-burger-menu-thin;
  }
}
.icon-burger-menu-lighter {
  &:before {
    content: $icon-burger-menu-lighter;
  }
}
