// @component
// Background
//
// sites/all/modules/custom/vactory_background_paragraph_bundle/scss/_paragraph-background.scss
// -----------------------------------------------------------------------------

.background {
  background-size: 100% auto;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  min-height: 250px;
  color: #FFF;

  @include breakpoint(xs) {
    background-size: cover;
    min-height: 0;
  }

  &.is-image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }

  .background--image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  h2,
  p {
    color: #FFF;
  }

  .paragraphs-item-paragraphs-content {
    margin-bottom: 30px;
  }

  .form-control {
    @extend %form-control--reversed;
  }

  .form-submit {
    @extend %btn-secondary--reversed;
  }

}
