// Styles for Forms
// -----------------------------------------------------------------------------

.form-item {
  margin-bottom: 17px;
}

.form-control {
  //  height: 40px;
  border-width: 2px;
  border-radius: 0;
}

html.js input.form-autocomplete {
  background: none !important;
}

.validation-messages-box {
  padding-left: 35px;
  padding-right: 35px;
}
