
.pager {
  font-size: 0;
  li {
    display: inline-block;
    margin: 0 4px;

    > a,
    > span,
    &.pager-current {
      padding: 5px 9px;
      font-family: $font-variant1;
      font-size: $font-size-large;
      transition: all .3s ease-out;
    }
    &.pager-current {
      border-radius: $pager-border-radius;
    }
    > a,
    > span {
      color: $brand-primary;
    }
    &.pager-current,
    &:hover > a,
    &:hover > span {
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: $gray-lighter;
      transition: all .3s ease-in;
    }
    + li {
      margin-left: 6px; //18px;
    }
  }

  .pager-previous a::before,
  .pager-next a::before {
    @extend %icon;
    font-size: 15px;
  }

  .pager-previous a::before {
    content: $icon-arrow-left;

    @include when-rtl() {
      content: $icon-arrow-right;
    }
  }

  .pager-next a::before {
    content: $icon-arrow-right;

    @include when-rtl() {
      content: $icon-arrow-left;
    }
  }

  li > a,
  li > span {
    border: 1px solid transparent;
  }

  .pager-previous a {
    margin-right: 20px;

    @include when-rtl() {
      margin-right: 0;
      margin-left: 20px;
    }

    @include breakpoint(xs) {
      margin-right: 10px;

      @include when-rtl() {
        margin-right: 0;
        margin-left: 10px;
      }
    }

  }

  .pager-next a {
    margin-left: 20px;

    @include when-rtl() {
      margin-left: 0;
      margin-right: 20px;
    }

    @include breakpoint(xs) {
      margin-left: 10px;

      @include when-rtl() {
        margin-left: 0;
        margin-right: 10px;
      }
    }
  }

}
