button.slick-arrow.prev.ripple-effect:hover {
  background-color: #ffffff !important; }

button.slick-arrow.next.ripple-effect:hover {
  background-color: #ffffff !important; }

h5.function {
  float: left;
  color: #E55735;
  font-family: "Roboto", sans-serif;
  font-size: 85%;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-right: 5px; }

h5.city {
  float: left;
  color: #000000;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  font-size: 85%;
  text-transform: uppercase;
  font-weight: 500; }

div.col-sm-12.function-city {
  clear: both; }

p.body-text {
  font-size: small;
  word-wrap: break-word; }

i.icon-arrow-right-flat:after {
  background: #ffffff; }

i.icon-arrow-left-flat:after {
  background: #ffffff; }

button.slick-arrow.next.ripple-effect:after {
  background: #ffffff; }

i.icon-arrow-right-flat:before {
  background: #ffffff; }

i.icon-arrow-left-flat:before {
  background: #ffffff; }

i.icon-arrow-right-flat:focus {
  background: #ffffff; }

i.icon-arrow-left-flat:focus {
  background: #ffffff; }

div.paragraph {
  margin: 0 auto;
  display: table; }

div.paragraph p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

a.permalink.read-more {
  color: #E55735;
  text-decoration: underline;
  display: block; }

img.img-responsive {
  margin: 0 auto; }

div.slider-grid.slick-initialized.slick-slider.slick-dotted {
  margin-top: 6%; }

button.slick-arrow.prev.ripple-effect {
  top: 108%;
  left: 43%;
  border: none;
  width: 40px;
  height: 40px;
  float: left; }

div.row.terstimonial-full-row.listing-1 {
  margin-top: 20px; }

button.slick-arrow.next.ripple-effect {
  top: 108%;
  right: 43%;
  border: none;
  width: 40px;
  height: 40px;
  float: right; }

.slick-dots li button:hover, .slick-dots li button:focus, .slick-dots li.slick-active button {
  background: #000000 !important;
  border-color: #000000 !important; }

div.view-content > ul.slick-dots {
  margin: 17px auto;
  width: 100px; }

i.icon-arrow-left-flat {
  color: #E55735; }

i.icon-arrow-right-flat {
  color: #E55735; }

div.row.terstimonial-full-row {
  border-bottom: 1px solid #f4f4f4; }

div.slick-list.draggable {
  margin: 0 auto; }

div.col-sm-12.view-more {
  text-align: center; }

button.btn.button.btn-primary.btn-link.btn-responsive {
  color: #ffffff;
  border: none;
  font-size: 10px;
  padding: 5px 12px;
  margin-bottom: 3%;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #ff4014;
  background: -moz-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
  background: -webkit-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
  background: -o-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
  background: -ms-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
  background: linear-gradient(0deg, #ff4014 40%, #f88c95 100%); }

div > button.btn.button.btn-primary.btn-link.btn-responsive a {
  color: #ffffff; }

ul.slick-dots {
  list-style-type: square; }

ul.slick-dots > li > button {
  border-radius: 0px;
  border: 1px solid #cfcfcf;
  background: #cfcfcf;
  width: 80%;
  height: 80%; }

ul.slick-dots > li > button:after {
  background: #000000; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  div.col-sm-12.fn-cty {
    margin: 0 auto;
    display: table; }
  button.btn.button.btn-primary.btn-link.btn-responsive {
    font-size: 14px;
    padding: 14px 47px; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  div.col-sm-12.fn-cty {
    margin: 0 auto;
    display: table; }
  div.col-sm-12.view-more {
    margin-bottom: 15px; }
  button.btn.button.btn-primary.btn-link.btn-responsive {
    font-size: 14px;
    padding: 14px 47px; }
  div.col-sm-4.view-more {
    margin: 9px;
    text-align: center; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  div.col-sm-12.fn-cty {
    margin: 0 auto;
    display: table; }
  div.col-sm-4.view-more {
    margin: 9px;
    text-align: center; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  div.row.left-part {
    text-align: center; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 108%;
    left: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 108%;
    right: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 108%;
    left: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 108%;
    right: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 108%;
    left: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 108%;
    right: 39%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  div.col-sm-12.paragraph {
    margin-top: -8px; }
  div.row.left-part {
    margin-top: 28%;
    float: left; }
  h3.article-card__title {
    text-align: left; }
  div.col-sm-4.view-more {
    position: absolute;
    right: -13%;
    bottom: 12%; }
  div.row.terstimonial-full-row.listing-1 {
    border: none; }
  button.btn.button.btn-primary.btn-link.btn-responsive {
    float: right;
    top: -129px;
    right: 61px;
    color: #ffffff;
    border: none;
    font-size: 10px;
    padding: 5px 12px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #ff4014;
    background: -moz-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
    background: -webkit-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
    background: -o-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
    background: -ms-linear-gradient(90deg, #ff4014 40%, #f88c95 100%);
    background: linear-gradient(0deg, #ff4014 40%, #f88c95 100%); }
  div.paragraph {
    margin: 0 auto;
    display: table; }
  div.paragraph p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
  a.permalink.read-more {
    color: #E55735;
    text-decoration: underline;
    display: block; }
  button.slick-arrow.prev.ripple-effect {
    top: 107.5%;
    left: 43%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 107.5%;
    right: 43%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; } }

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */ }

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  div.col-sm-4.view-more {
    margin: 9px;
    text-align: center; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  div.col-sm-4.view-more {
    margin: 9px;
    text-align: center; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  div.col-sm-4.view-more {
    margin: 9px;
    text-align: center; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h2.view-title.text-center {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  div.col-sm-4.view-more {
    margin: 5px 9px; }
  a.permalink.read-more {
    margin-bottom: 11px; }
  h3.article-card__title {
    text-align: center; }
  button.slick-arrow.prev.ripple-effect {
    top: 104.5%;
    left: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: left; }
  button.slick-arrow.next.ripple-effect {
    top: 104.5%;
    right: 23%;
    border: none;
    width: 40px;
    height: 40px;
    float: right; }
  div.row.left-part {
    text-align: center; } }
