/* === IMPORT === */
//@import url('https://fonts.googleapis.com/css?family=Roboto');
//// See $font-family-primary below. Remove if not used.
//@import "../libs/hamburgers/_sass/hamburgers/hamburgers";

/* === VARIABLES === */
$vh4-dark-color: #33414a !default;
$vh4-white-color: #FFF !default;
$vh4-primary-color: $brand-primary !default;
$vh4-primary-color-alt: darken($link-color, 15%) !default;
$vh4-links-color: $link-color !default;
$vh4-overlay-primary: #263238 !default;
$vh4-overlay-secondary: #2e3d44 !default;
$vh4-overlay-tertiary: #202629 !default;
$vh4-font-family-primary: $font-family-sans-serif !default;
$vh4-mobile-menu-width: 85% !default;

.variant4 {
  .vh-header {
    background: $vh4-dark-color;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all .3s;
    //    transition: background .3s, border .3s;


    .hamburger {
      padding: 0 !important;
    }

    .cs-skin-elastic > span {
      transition: background .3s;
      @media screen and (max-width: $screen-sm) {
        background-color: transparent;
        color: $vh4-white-color;
      }
    }

    .cs-skin-elastic.form-control {
      transition: none;
      border: none;
      line-height: normal;
      box-shadow: none;
      padding: 0;
      margin: 0;
      height: auto;
      border-radius: 0;
    }

    select.cs-skin-elastic.form-control {
      display: none;
    }

    .lang-dropdown-select-element {
      display: none !important;
    }

    &.is-sticky {
      background: $vh4-white-color;
      border-bottom: 5px solid rgba(0, 0, 0, 0.12);

      .scroll-indicator {
        width: 0;
        height: 5px;
        background-color: $vh4-primary-color;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);

        @include when-rtl() {
          left: auto;
          right: 0;
        }

      }

      .cs-skin-elastic > span {
        background-color: $vh4-dark-color;
        color: $vh4-white-color;
      }

      div.cs-skin-elastic {
        color: $vh4-white-color;
      }

      .cs-skin-elastic .cs-options span:hover,
      .cs-skin-elastic .cs-options li.cs-focus span,
      .cs-skin-elastic .cs-options .cs-selected span {
        color: darken($vh4-white-color, 10%);
      }

      #Icons-Set-Search {
        fill: $vh4-links-color;
      }

      .btn-search-overlay:hover #Icons-Set-Search {
        fill: $vh4-dark-color;
      }

    }

    #Icons-Set-Search {
      transition: fill .3s;
    }

    .btn-search-overlay:hover #Icons-Set-Search {
      fill: $vh4-primary-color;
    }

    #logo {
      min-width: 60px;

      @media screen and (max-width: $screen-sm) {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    &.is-pre__sticky .container > .block {

      #logo {
        margin: .5em 5em .5em 0;

        @media screen and (max-width: $screen-sm) {
          margin: .5em 0;
        }

      }

      #logo img {
        max-height: 50px;
      }

      &.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
        top: 64px;
      }
    }

    &.large-menu__layer {

    }

    &.wide-menu__layer {
      .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
        width: 90%;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 48px;
        box-shadow: 0 2px 1px 2px rgba(51, 65, 74, 0.15);
      }
    }

    &.small-menu__layer {
      .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
        width: auto;
        white-space: nowrap;
        left: auto;
        box-shadow: 0 2px 1px 2px rgba(51, 65, 74, 0.15);
        padding: 1em 1.5em;

        > ul > li:not(:first-child) {
          display: none; // In case there's more than one item.
        }

        > ul > li:first-child {
          margin-right: 0;
          border-right: 0;
        }
      }

    }

    &.large-menu__layer,
    &.wide-menu__layer,
    &.small-menu__layer {
      .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper > .menu > .expanded > a {
        padding: 0;

        .caret {
          display: none;
        }
      }
    }

    > .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (max-width: $screen-sm) {
        justify-content: space-between;
      }

      .block.logo-block {
        @media screen and (max-width: $screen-sm) {
          flex: 1;
        }
      }
    }

    // Reset for custom blocks.
    .block__content {
      .form-group,
      p,
      ol,
      ul {
        padding: 0;
        margin: 0;
      }
    }

    > .container > .block {
      // Logo.
      #logo {
        margin: 1em 5em 1em 0;
        float: none;

        @include when-rtl() {
          margin: 1em 0 1em 5em;
        }

        @media screen and (max-width: $screen-sm) {
          margin: 1em 0;
        }

        img {
          max-height: 60px;
          transition: all 0.5s;
        }
      }

      // Main menu wide.
      &.vh-primary-menu {
        flex: 1;

        > .block__content > .menu-wrapper > .menu {
          display: flex;
          flex-wrap: wrap;

          > li:not(:last-child) {
            margin-right: 1em;
            @include when-rtl() {
              margin-right: 0;
              margin-left: 1em;
            }
          }

          // Animation stuff.
          > li {
            position: relative;

            // Current item state.
            //&.active,
            &:hover {

              > a {
                &::before,
                &::after {
                  opacity: 1;
                  transform: translateX(0px);
                }
              }
            }

            > a {
              position: relative;

              &::before,
              &::after {
                display: inline-block;
                opacity: 0;
                transition: transform .3s, opacity .2s;
              }

              &::before {
                margin-right: 10px;
                content: '[';
                transform: translateX(20px);

                @include when-rtl() {
                  margin-right: 0;
                  margin-left: 10px;
                }
              }

              &::after {
                margin-left: 10px;
                content: ']';
                transform: translateX(-20px);

                @include when-rtl() {
                  margin-left: 0;
                  margin-right: 10px;
                }
              }

            }

          }

          a {
            text-transform: capitalize;
            font-size: 1.1em;
            line-height: normal;
            color: $vh4-links-color;
            position: relative;
            padding: .8em .3em;
            font-weight: bold;
            transition: color .3s;

            &:hover, &:focus {
              color: $vh4-primary-color;
              background-color: transparent;
            }
          }

          > .expanded {

            > a {
              display: flex;
            }
            > a > .caret {
              border: 0;
              width: auto;
              height: auto;
              margin-left: .4em;

              @include when-rtl() {
                margin-left: 0;
                margin-right: .4em;
              }

              &::before {
                @extend %icon;
                content: $icon-caret-down;
                display: inline-block;
              }

            }

            > .menu-wrapper {
              position: fixed;
              top: 88px;
              width: 100%;
              width: 100vw;
              background: #FFF;
              padding: 48px 0;
              box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
              overflow: visible;
              z-index: 3;
              left: 0;
              margin: 0;

              // Animation stuff.
              transition: visibility 0s linear .3s, opacity .3s linear, transform .3s linear;
              opacity: 0;
              visibility: hidden;
              transform: translateY(10px);

              &.open {
                opacity: 1;
                visibility: visible;
                transition-delay: 0s;
                transform: translateY(0);
              }

              a {
                padding-left: 0 !important;
              }

              > .menu {
                display: flex;
                flex-wrap: wrap;
                max-width: 1170px;
                margin: 0 auto;

                > li:not(:last-child) {
                  margin-right: 2em;
                  border-right: 1px solid #e2e3df;

                  @include when-rtl() {
                    margin-right: 0;
                    border-right: 0;
                    margin-left: 2em;
                    border-left: 1px solid #e2e3df;
                  }

                }

                > li:nth-child(4n) {
                  margin-right: 0;
                  border-right: 0;

                  @include when-rtl() {
                    margin-left: 0;
                    border-left: 0;
                  }
                }

                > li {
                  flex-grow: 1;
                  flex-shrink: 1;
                  flex-basis: 20%;
                  max-width: 23.33%;
                  margin-bottom: 1em;

                  .child-ul a {
                    font-size: 1em;
                    padding: 8px 15px;
                  }

                }

                > .expanded > a {
                  color: $vh4-primary-color;
                  font-weight: bold;
                  font-size: 1.6rem;
                  margin-bottom: .6em;
                }
              }

            }

          }

        }

      }

      a.active,
      a.active-trail {
        color: $vh4-primary-color !important;
      }

    }

    // Responsive Mobile.
    .block {
      &.vh-primary-menu,
      &.vh-component__search,
      &.vh-social-links {
        //&.vh-language_dropdown {
        @media screen and (max-width: $screen-sm) {
          display: none;
        }
      }

      &.vh-social-links {
        @media screen and (max-width: $screen-md) {
          display: none;
        }
      }

      &.vh-logo {
        @media screen and (max-width: $screen-sm) {
          flex: 1;
          text-align: center;
        }
      }

    }
    .container > .block #logo {
      @media screen and (max-width: 1199px) {
        margin-right: 1em;
      }
    }

    .container {
      @media screen and (max-width: 1199px) {
        width: 99%;
      }
    }

  }

  div.cs-skin-elastic {
    color: $vh4-primary-color;
    @media screen and (max-width: $screen-sm) {
      color: $vh4-white-color;
    }
  }

  .cs-skin-elastic .cs-options span:hover,
  .cs-skin-elastic .cs-options li.cs-focus span,
  .cs-skin-elastic .cs-options .cs-selected span {
    color: lighten($vh4-primary-color, 10%);
  }

  .cs-skin-elastic .cs-options > ul::before {
    background-color: $vh4-dark-color;
    color: $vh4-white-color;
  }

  ul.social-media-links.platforms.inline.horizontal {
    display: flex;
  }

  ul.social-media-links.platforms.inline.horizontal li {
    list-style: none;
    margin: 0 .2em;
  }

  .block.vh-language_dropdown {
    margin-left: 1em;

    @media screen and (max-width: $screen-sm) {
      margin-left: 0;
      margin-right: 0 !important; // RTL maybe ?
    }

    @include when-rtl() {
      margin-left: 0;
      margin-right: 1em;
    }
  }

  .vh-component__search {
    margin: 0 1em;
    a {
      font-size: 1.6em;
      color: $vh4-white-color;

      &:focus {
        outline: 0;
      }
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  // Helpers.
  .desktop--wide_enough {
    flex: 1;
  }

  .desktop--centered_object {
    text-align: center;

    * {
      margin: 0 auto;
    }
  }

  .mobile--wide_enough {
    @media screen and (max-width: $screen-sm) {
      flex: 1;
    }
  }

  .mobile--centered_object {
    @media screen and (max-width: $screen-sm) {
      text-align: center;

      * {
        margin: 0 auto;
      }
    }
  }

  ul.social-media-links {
    @media screen and (max-width: $screen-sm) {
      text-align: center;
      margin: 1em 0;
    }
  }

}

/* === MOBILE === */
.variant4 {

  #vhm-menu.open-from-right .vh-primary-menu li.expanded .menu-wrapper {
    @include when-rtl() {
      transform: translateX(100%);
    }
  }

  #vhm-menu .vh-primary-menu {
    @media screen and (max-width: $screen-sm) {
      display: block !important;
      position: relative;
    }

    ul {
      @include when-rtl() {
        padding-right: 0;
      }

      li {
        @include when-rtl() {
          margin: 0;
          padding: 0;
        }
      }

    }

    ul li a {
      border-bottom: 1px solid rgba(58, 73, 80, 0.4);
      padding: 14px 37px 14px 15px;
      font-weight: 600;
      color: $vh4-primary-color;
      position: relative;
      display: block;
      transition: color .3s ease, background-color .3s ease;

      @include when-rtl() {
        padding: 18px 15px 18px 37px;
      }

      &:hover,
      &.selected,
      &.active-trail,
      &.active {
        color: $vh4-primary-color;
        text-decoration: none;
        background-color: #fff;
      }

      .caret {
        display: none;
      }

    }

    li {
      position: static;

      &.back-link {
        a {
          font-size: 1em;
          background: $vh4-overlay-primary !important;
          color: $vh4-white-color !important;
          font-weight: 400;
          display: flex;


          &::before {
            @extend %icon;
            content: $icon-chevron-left;
            margin-right: .8em;

            @include when-rtl() {
              content: $icon-chevron-right;
              margin-right: 0;
              margin-left: .8em;
            }

          }
        }
      }

      &.expanded {
        > a {
          &::after {
            @extend %icon;
            content: $icon-chevron-right;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform .3s ease;

            @include when-rtl() {
              content: $icon-chevron-left;
              right: auto;
              left: 15px;
            }

          }

          //          &.selected::after {
          //            transform: translateY(-50%) rotate(90deg);
          //          }

        }

        .menu-wrapper {
          visibility: hidden;
          user-select: none;
          background: $vh4-overlay-secondary;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          height: 100vh;
          z-index: 1;
          transform: translateX(-100%);
          transition: visibility 0s linear .2s, transform .2s ease-in;

          &.is-open {
            visibility: visible;
            user-select: auto;
            transform: translateX(0) !important;
            transition-delay: 0s;
          }

          > .menu > li > a {
            padding-left: 2em;
          }

        }

      }
    }

  }

  .vh-header {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #fff;
    }

    &.is-sticky {
      .hamburger-inner,
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: $vh4-dark-color;
      }
    }

  }

  .vhm-menu {
    z-index: 999;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: $vh4-overlay-primary;
    width: $vh4-mobile-menu-width;
    transform: translateX(100%);
    transition: transform .3s ease;

    &.narrow {
      // This is the default behavior.
    }

    &.full {
      width: 100%;
    }

    &.open-from-right {
      // This is the default behavior.
    }

    &.open-from-left {
      transform: translateX(-100%);
      left: 0;
      right: auto;
    }

    &.is-open {
      transform: translateX(0) !important;

      .vhm-menu__logo,
      .vhm-menu__hamburger {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.is-leftside {
      left: 0;
      right: auto;
      transform: translateX(-100%);
    }

  }

  .vhm-menu__top-wrapper {
    background-color: $vh-overlay-secondary;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .vhm-menu__logo,
    .vhm-menu__hamburger {
      // Animation stuff.
      position: relative;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity .4s, transform .2s;
      transition-delay: .3s;
    }

    #mmenu-close-btn {
      padding-right: 0;

      @include when-rtl() {
        padding-right: 15px; // Reset hamburger padding.
        padding-left: 0;
      }
    }

  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #fff;
    width: 30px;
    height: 2px;
  }

  .vhm-menu__logo {
    #logo {
      display: block;
      float: none;
      margin: 0;
      height: auto;
      width: auto;

      a {
        margin-right: 0;
        margin-left: 0;
      }

      img {
        max-height: 45px;
      }

    }
  }

  // Search form.
  .vhm-menu_search {
    background: $vh-overlay-tertiary;

    .element-invisible {
      display: none;
    }

    .form-item-search-block-form {
      padding: 0;
      flex: 1;
    }

    > form {
      padding: 15px;
    }

    > form > div > div {
      display: flex;
      width: 100%;

      > div {
        margin: 0;
        padding: 0;

        input {
          border-radius: 0;
          height: 40px;
          line-height: 40px;
          border: 0;

          &:focus {
            outline: 0;
          }

        }

        .form-text {
          width: 100%;
          background: rgba(96, 98, 99, 0.22);

          &:focus {
            background: #f1f1f1;
          }
        }

        .form-submit {
          margin: 0;
          background-color: $vh4-primary-color;
          border: 0;
          padding: 0 25px;

          &:focus {
            background-color: $vh4-primary-color-alt;
          }
        }
      }
    }
  }

}

.vh-push-left,
.vh-push-right {
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(-$vh4-mobile-menu-width);
  }

  &.has-overlay {
    &::after {
      content: '';
      position: fixed;
      z-index: 2;
      height: 100%;
      width: 100%;
      top: 0;
      //      top: 88px;
      left: 0;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      animation: vh-fadeIn .2s forwards;
    }
  }
}

.vh-push-right {
  &.is-open {
    transform: translateX($vh4-mobile-menu-width);
  }
}

/* === BODY FIXED === */
body.vh-variant4 {
  padding-top: 88px;

  &.navbar-administration {
    padding-top: 184px !important;

    .vh-header {
      top: 88px !important;
    }

    .vh-header > .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper {
      top: 176px;
    }
  }

  &.navbar-administration.navbar-tray-open.navbar-vertical {
    .vh-header {
      top: 46px !important;
    }
  }

  .search__info,
  .search__input,
  .btn--search-close {
    color: $vh4-primary-color;
  }

  .search__input:focus {
    outline: 0;
  }

  .btn--search-close {
    @include when-rtl() {
      right: auto;
      left: 1.25em;
    }
  }

  .search__info {
    @include when-rtl() {
      text-align: left;
    }
  }

  .vh-header > .container > .block.vh-primary-menu > .block__content > .menu-wrapper > .menu > .expanded > .menu-wrapper > .menu > li .child-ul {
    li {
      @include when-rtl() {
        margin-right: 0;
      }
    }

    a {
      @include when-rtl() {
        padding-right: 0;
      }
    }
  }

  .cs-skin-elastic .cs-options {
    @include when-rtl() {
      text-align: right;
    }
  }

  .cs-placeholder {
    @include when-rtl() {
      padding-right: 1em;
      padding-left: 2em;
    }

    &::after {
      @include when-rtl() {
        right: auto;
        left: 1em;
      }
    }

  }

  #main-wrapper {
    &.has-overlay {
      &::after {
        content: '';
        position: fixed;
        z-index: 2;
        height: 100%;
        width: 100%;
        top: 0;
        //      top: 88px;
        left: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        animation: vh-fadeIn .2s forwards;
      }
    }
  }

}

/* === ANIMATIONS === */

@keyframes vh-fadeIn {
  to {
    opacity: 1;
  }
}