$vh5-primary-color: #000 !default;
$vh5-white-color: #fff !default;
$vh5-block-shadow: 0 1px 1px 0 #ababab !default;
$_vh5-pushmenu-size: 357px !default;

.vh-variant5 header#header {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  background: $vh5-white-color;
  box-shadow: $vh5-block-shadow;
}

.vh-variant5 #main-wrapper {
  padding-top: 80px;
}

.variant5 .vh-header {

  // Reset.
  .hamburger {
    padding: 0;
    //display: flex;
    //transform: translateY(3px);

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 25px;
      height: 2px;
    }

    .hamburger-box {
      width: 25px;
      height: 21px;
    }

  }

  // Container.
  > .container-fluid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding-right: 0;

    @include when-rtl() {
      padding-right: ceil(($grid-gutter-width / 2));
      padding-left: 0;
    }

    @media (max-width: $screen-sm) {
      padding-right: ceil(($grid-gutter-width / 2)); // See @bootstrap/mixins/_grid.scss#L9~#L10

      @include when-rtl() {
        padding-right: 0;
        padding-left: floor(($grid-gutter-width / 2));
      }

    }

  }

  // Logo.
  .vh-logo {
    flex: 1;
    margin-left: 31px;

    @include when-rtl() {
      margin-left: 0;
      margin-right: 31px;
    }

    @media (max-width: $screen-sm) {
      margin-right: 31px;
      margin-left: 31px;
    }

    #logo {
      margin: 10px;
      float: none;
      display: inline-block;

      @media (max-width: $screen-sm) {
        text-align: center;
      }

    }

    img {
      max-height: 60px;
    }
  }

  .vh-navigation_menu {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  // Header navigation menu.
  .vh-navigation_menu > .block__content > .menu-wrapper > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > li {
      padding: .5em;

      a:focus {
        outline: 0;
      }

    }

    // Hide links text - Except Pro link.
    > li:not(.pro-btn) {
      padding: 0;
      margin-right: 25px;
      font-size: 19.5px;
    }

    > li:not(.pro-btn) a {
      display: flex;
      align-items: center;
      padding: 0;
      text-align: center;

      > span {
        @extend .sr-only;
      }

      &:hover,
      &:focus,
      &:visited {
        background: none;
        outline: 0;
      }

      &:hover::before {
        color: rgba(66, 66, 66, 0.98);
      }
    }

    [class*='icon'] {
      color: $vh5-primary-color;
      transition: color .3s ease;
    }

    // Pro Link
    > li.pro-btn {
      background: $gray-light;
      transition: background .3s ease;
      padding: 15px 1px;
      margin-left: 8px;
      @include when-rtl() {
        margin-left: 0;
        margin-right: 8px;
      }

      &:hover {
        background: $gray-dark;
        //        background: #545353;
      }

      a {
        color: $vh5-white-color;
        font-size: 20px;
      }

      a:hover {
        background: none;
      }

    }
  }

}

.vh-variant5 {

  .vh-header--menu {
    background: $vh5-white-color;
    position: fixed;
    left: 0;
    top: 0;
    width: $_vh5-pushmenu-size;
    z-index: 9999;
    overflow: auto;
    height: 100%;
    border: 3px solid $vh5-primary-color;
    border-top: 0;
    border-bottom: 0;

    // Animation
    transform: translateX(-100%);
    visibility: hidden;
    transition: visibility 0s linear .3s, transform .3s ease;

    @include when-rtl() {
      left: auto;
      right: 0;
      transform: translateX(100%);
    }

  }

  .main-wrap {
    transition: transform .5s ease !important;
    transform: translateZ(0);

    &.is-menu-open {
      transform: translateX($_vh5-pushmenu-size);

      @include when-rtl() {
        transform: translateX(-$_vh5-pushmenu-size);
      }

      .vh-header--menu {
        visibility: visible;
        transition-delay: 0s;
      }
    }
  }

  // Headin text.
  .menu-heading {
    line-height: 1;
    font-size: 22px;
    padding: 19px 32px 11px 32px;
    margin-top: 0;
    position: relative;
    display: flex;
    align-items: center;
    transition: padding 0.3s linear;
  }

  // Back menu link.
  #menu-back-link {
    transform: translateX(-5px);
    display: inline-block;
    //font-size: .7em;
    opacity: 0;
    transition: transform .3s ease, opacity .3s ease;
    padding: 0;
    user-select: none;
    position: absolute;

    @include when-rtl() {
      transform: translateY(3px) translateX(5px) rotate(180deg);
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    [class^="icon-"], [class*=" icon-"] {
      font-size: 18px;
    }

  }

  .is-sub-menu-open .menu-heading {
    //padding: 19px 32px 11px 32px;
  }

  .is-sub-menu-open #menu-back-link {
    transform: translateX(-20px);
    opacity: 1;
    user-select: auto;

    @include when-rtl() {
      transform: translateY(3px) translateX(20px) rotate(180deg);
    }

  }

  .vh-header--menu a {
    color: $vh5-primary-color;
    font-weight: 300;
    font-size: 22px;
    padding: 11px 32px 11px 32px;
    line-height: 1;
    display: block;
    transition: background-color .3s ease, color .3s ease;

    &:hover {
      background: none;
    }

  }

  // Hover states for main menu & secondary menu.
  .vh-main_menu .menu-wrapper a:hover,
  .vh-secondary_menu .menu-wrapper a:hover {
    background-color: $vh5-primary-color;
    color: $vh5-white-color;
  }

  .vh-header--menu .expanded {
    position: static;
  }

  .vh-header--menu .expanded > div {
    background-color: $vh5-white-color;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    //height: 100vh;
    width: 100%;
    z-index: 10;
    transform: translateX(-100%);
    transition: visibility 0s linear .3s, transform .3s ease;

    @include when-rtl() {
      transform: translateX(100%);
    }
  }

  // First sub-menu should add some space
  // We added a border separator between main & secondary menu.
  .vh-main_menu > .block__content > .menu-wrapper > ul > .expanded > .menu-wrapper {
    //height: calc(100% + 1em);
  }

  .vh-header--menu .expanded.selected > div {
    transform: translateX(0);
    visibility: visible;
    transition-delay: 0s;

    @include when-rtl() {
      transform: translateX(0);
    }

  }

  .vh-main_menu {
    position: relative;

    > .block__content {
      position: relative;
    }
  }

  .vh-secondary_menu {
    border-top: 3px solid $vh5-primary-color;
    padding-top: 1em;
    margin-top: 1em;
  }

  .vh-main_menu .caret {
    border: 0;
    width: auto;
    height: auto;
    font-size: 12px;
    margin-left: .8em;

    // Icon.
    @extend %icon, .icon-arrow-right;

    @include when-rtl() {
      @extend .icon-arrow-left;
      margin-left: 0;
      margin-right: .8em;
    }

  }

  ul.menu,
  ul.menu li {
    margin: 0;
    padding: 0;
  }

  .vh-social-media--links {
    border-top: 3px solid $vh5-primary-color;
    padding-top: 1em;
    margin-top: 1em;
  }

  .vh-social-media--links .social-media-links {
    padding: 11px 32px 11px 32px;
    list-style: none;
    display: flex;
  }

  .vh-social-media--links .social-media-links img {
    display: none;
  }

  .vh-social-media--links .social-media-links li {
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    a {
      padding: 0;

      &:hover {
        text-decoration: none;
        color: lighten($vh5-primary-color, 25%);
      }

    }

  }

}
