// Colors

$primary-lighter: #4975ba !default;
$brand-secondary: #cfcfcf !default;
// Table
$table-heading-color: #9b9b9b !default;

// Fonts
// Families
$font-variant1: 'Roboto';
$font-variant2: 'Open Sans';
// RTL Fonts Families
$rtl-font-variant1: "Helvetica Neue W20_45 Light";
$rtl-font-variant2: "Helvetica Neue W20_55 Roman";
$rtl-font-variant3: "Helvetica Neue W20_75 Bold";

// Sizes
$font-size-small: 12px;
$font-size-medium: 16px;

// Weights
$font-weight-regular: 100;
$font-weight-normal: normal;
$font-weight-semi-bold: 600;
$font-weight-bold: bold;

// Form
$form_control-mobile-height: 40px;

// Dropdown
$dropdown-btn-padding-top: 8px;
$dropdown-btn-padding-bottom: 8px;

