.view.block-1b-2s .view-content > .row {
  @include row-make-equal-height();
//  margin-bottom: ($line-height-computed / 2);
//
//  @media (min-width: $screen-xs-max) {
//    margin-bottom: $grid-gutter-width;
//  }

  > div:nth-child(1) > article {
    flex-grow: 1;
//    @media (min-width: $screen-md-max) {
//      margin-bottom: 0;
//    }
  }

  > div:nth-child(2) {
    flex-direction: column;

    > article {
      flex-grow: 1;
    }

    > article:nth-child(2) {
//      @media (min-width: $screen-md-max) {
//        margin-bottom: 0;
//      }
    }
  }
}
