// @module
// sites/all/themes/%/scss/modules/modules/workbench/_info.scss
// Workbench

// Info block for admin user - node
// -----------------------------------------------------------------------------

.block-workbench {
  @include container;

  .block__content {
    @include make-row;
  }

  .workbench-info-block {
    @include make-lg-column(12);
    float: none;
  }
}
