// @component
// sites/all/themes/%/scss/modules/modules/datepicker/_datepicker.scss
// Datepicker
// -----------------------------------------------------------------------------

.datepicker table tr td span {
  transition: background-color .3s, color .3s, border-color .3s;
}

.datepicker table tr td span.active:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active:active.focus,
.datepicker table tr td span.active:active.focus,
.datepicker table tr td span.active.disabled:active.focus,
.datepicker table tr td span.active.disabled:active.focus,
.datepicker table tr td span.active.active.focus,
.datepicker table tr td span.active.active.focus,
.datepicker table tr td span.active.disabled.active.focus,
.datepicker table tr td span.active.disabled.active.focus {
  color: #fff;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
}

