//// @note: Remove this if not used.
//// -----------------------------------------------------------------------------
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display');
//
//$news_san-serif: 'Open Sans',
//sans-serif;
//$news_serif: 'Playfair Display',
//serif;
//$news_color-shadow:transparentize(#303336, .9);
//
//h1, .h1,
//h2, .h2,
//h3, .h3 {
//  margin-bottom: $line-height-computed;
//}
//
////== Article Card
//.article-card {
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//
//.article-card__title,
//.article-card__title > a {
//  font-family: $news_serif;
//}
//
//.article-card__date .field-item span {
//  font-family: $news_serif;
//}
//
////== View block title
//h2.view-title {
//  margin-bottom: 20px;
//  color: #303336;
//  font-size: 40px;
//  font-family: "Playfair Display",serif;
//}
//.article-card__date .field-item span {
//  @extend .small;
//  font-size: 11px;
//  color: #A0A6AB !important;
//  letter-spacing: 2px;
//  text-transform: uppercase;
//  font-weight: 700;
//}